.banner
{
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  display: block;
}

.container h1
{
  color:white;
}

.banner p
{
  color:grey;
  margin-bottom: 50px;
  font-size: 16px;
}

.banner a
{
  background-color: rgb(49, 207, 113);
  border: 2px solid black;
  color: white;
  padding: 20px;
  border-radius: 40px;
  margin-top: 10px;
}

.banner a:hover
{
  background-color: rgb(11, 98, 46);
}
